---
layout: base.njk
title: Home
---
<div class="page-intro">
  <h1>Notes and writing.</h1>
  <p>Occasional posts on whatever I'm thinking about.</p>
</div>

<ul class="post-list">
  {%- for post in collections.posts | reverse %}
  <li>
    <a href="{{ post.url }}">
      <span class="post-list-title">{{ post.data.title }}</span>
      <time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
      {%- if post.templateContent %}
      <p class="post-list-excerpt">{{ post.templateContent | striptags | truncateText(160) }}</p>
      {%- endif %}
    </a>
  </li>
  {%- endfor %}
</ul>
